html, body {
    height: 100%;
    width: 100%;
}

#ResultContainer {
    height: 100%;
    width: 100%;
}

#EnterMoreButton {
    margin-top: 1em;
    display: block;
}

#list {
    overflow-y: auto;
    overflow-x: auto;
    width: 50vh;
    height: 25%;
    border: solid;
    border-color: black;
    margin-top: 1em;
    display: inline-block;
    position: relative;
}

    #list th {
        text-align:left;
        background-color:thistle;
        border-radius: 5px;
        padding:3px;
    }

#InputContainer {
    display: flex;
    justify-content: center;
}

#InputForm {
    margin-top: 1em;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    padding: 2em;
    width: 25%;
    border-radius: 25px;
    border-style: groove;
    border-bottom-color: darkgray;
}

    #InputForm input {
        /*width: 100%;*/
        /*max-width:50%;
        min-width:100%;*/
        width: 9em;
    }

#InputButton {
    margin-top: 1em;
}

#result {
    display: inline-block;
    margin-top: 1em;
    border: solid;
    border-color: black;
    width: 50vh;
    height: 80%;
    vertical-align: top;
    text-align: center;
}

#result_image {
    width: 100%;
    border-radius: 25px;
}

#WordGuessed {
    color: blueviolet;
}
